:root {
    --bs-body-bg: rgb(211, 239, 252);
}


#display-current-weather {
    background-color: #a6ecfa;
}

#display-forecast {
    background-color: #a3d1da;
}

.city-search-section {
    padding-left: 20px;
    padding-top: 20px;
}

.search-name {
    padding-bottom: 10px;
}

.form-text {
    padding-top: 8px;
}

#city-search {
    padding-bottom: 8px;
}
